@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Siswa";
}

<div class="col-md-12">
    <h1 style="font-size:18px; margin-bottom:30px;">
        <i class="material-icons align-top">school</i>
        <span>Nilai Siswa</span>
    </h1>
</div>
<table class="table table-striped">
    <thead class="thead">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Mata Pelajaran</th>
            <th scope="col">KKM</th>
            <th scope="col">Nilai Akhir</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
        <!--Semuanya bakal diganti dengan model-->
        <tr>
            <th scope="col">1</th>
            <td>disini mata pelajaran</td>
            <td>disini KKM</td>
            <td>disini Nilai Akhir</td>
            <td><a asp-area="" asp-controller="Nilai" asp-action="Detail">Detail</a></td>
        </tr>
        <tr>
            <th scope="col">2</th>
            <td>disini mata pelajaran</td>
            <td>disini KKM</td>
            <td>disini Nilai Akhir</td>
            <td>disini Detail</td>
        </tr>
    </tbody>
</table>
